<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->

      <service behaviorConfiguration="ServiceBehavior"
      name="BroadcastorService.BroadcastorService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/Broadcastor"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8090/Broadcastor"
        binding="wsDualHttpBinding" contract="BroadcastorService.IBroadcastorService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding"
         contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true "/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>