<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8075/Callback" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService" contract="MyRef.IService"
                name="WSDualHttpBinding_IService">
                <identity>
                    <servicePrincipalName value="host/lklimkix-DESK.amr.corp.intel.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>