<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
    <service behaviorConfiguration="CallbackServiceBehavior" name ="WcfCallbackService.Service">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8075/Callback"/>
        </baseAddresses>
      </host>
      <!-- this endpoint is exposed at the base address provided by host: http://localhost:8075/Callback  -->
      <endpoint address=""
                binding="wsDualHttpBinding"
                contract="WcfCallbackService.IService" />
      <!-- the mex endpoint is exposed at http://localhost:8075/Callback/mex -->
      <endpoint address="mex"
                binding="mexHttpBinding"
                contract="IMetadataExchange" />
    </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CallbackServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>