<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VWAUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VWAUpdater.Properties.Settings>
            <setting name="VWAUpdater_com_licensemanager4web_LicenseManagerWebService"
                serializeAs="String">
                <value>http://activate.leanpath.com/LicenseManager4Web.asmx</value>
            </setting>
            <setting name="VWAUpdater_com_updatemanager_UpdateManager" serializeAs="String">
                <value>http://activate.leanpath.com/UpdateManager.asmx</value>
            </setting>
            <setting name="VWAFilePath" serializeAs="String">
                <value>VWA4.exe</value>
            </setting>
            <setting name="ws_username" serializeAs="String">
                <value>LMAN</value>
            </setting>
            <setting name="ws_password" serializeAs="String">
                <value>530E9D3B-7ACC-4F9D-B16F-2FEBA545C8B1</value>
            </setting>
        </VWAUpdater.Properties.Settings>
    </applicationSettings>
</configuration>