<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VWA4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VWA4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <VWA4.Properties.Settings>
      <setting name="ApplicationVersionKey" serializeAs="String">
        <value>09</value>
      </setting>
      <setting name="VWA4_com_leanpath_activate_UpdateManager" serializeAs="String">
        <value>http://activate.leanpath.com/UpdateManager.asmx</value>
      </setting>
    </VWA4.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <VWA4.Properties.Settings>
      <setting name="LastDBPathName" serializeAs="String">
        <value />
      </setting>
      <setting name="tMaxNumberofSites" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tMaxNumberofFoodTypes" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tMaxNumberofLossTypes" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tMaxNumberofUserTypes" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tMaxNumberofDETs" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tMaxNumberofReports" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tMaxNumberofTrackers" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="tAddUsersAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tAMWTAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tConfiguratorAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tEnterFinancialsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tEnterSWATNotesAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tFoodCostAdjustmentsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tImportWasteDataAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageBaselinesAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageDETsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageEventClientsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageEventOrdersAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManagePreferencesAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManagePrintFormsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageReportsSettingsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageSitesAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageTrackersAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tManageTypesAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tRecurringTransactionsAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tRemoveUsersAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tUpdateTrackerAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tConfigureDaypartEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tConfigureDispositionEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tConfigurePrePostEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tConfigureStationEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tDaypartEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tDispositionEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tPrePostEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tStationEntryAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tAdvancedMenuAvailable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationId" serializeAs="String">
        <value />
      </setting>
    </VWA4.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="DataDynamicsARLic" value="Stephen Rogers,LeanPath,DD-ARN-30-C000344,MOVFUSUJ9W7SUWK997SU" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- default license file name -->
    <add key="LicenseFileName" value="vw4license.txt" />
    <add key="WebServiceUsername" value="LMAN" />
    <add key="WebServicePassword" value="530E9D3B-7ACC-4F9D-B16F-2FEBA545C8B1" />
  </appSettings>
</configuration>