<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model  
           introduced in .NET Framework 4. -->

      <service behaviorConfiguration="ServiceBehavior"
      name="CalculatorService.Calculator">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7991/Calculator"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:7991/CalculatorService/Calculator/tcp" 
                  binding="netTcpBinding" contract="CalculatorService.ICalculator" 
                  bindingConfiguration="tcpBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="net.tcp://localhost:7992/Calculator/mex" binding="mexTcpBinding"
         contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true "/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding">
          <security mode="None"></security>
          <reliableSession enabled="false" inactivityTimeout="00:20:00" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>